@page "/write-operations"

@layout MainLayout

<PageTitle>Write operations</PageTitle>

<h1>Common dialogs sample application - write operations</h1>
<div class="alert-danger">@_errorText1</div>
<div class="alert-danger">@_errorText2</div>
<button @onclick="OnSelectFolder">Select main folder...</button>
@if (_folderPickResult != null)
{
    <table>
        <tr><td>Name:</td><td>@_folderPickResult?.FileName</td></tr>
        <tr><td>Full path:</td><td>@_folderPickResult?.FullPath</td></tr>
        <tr><td>Platform Path:</td><td>@_folderPickResult?.PlatformPath</td></tr>
    </table>
}
<hr />
<h2>Create file</h2>
<button @onclick="OnCreateFile">Create test file</button>
<div>@_resultText1</div>
<div>File content:@_fileContent1</div>
<hr />
<h2>Create file and folders</h2>
<button @onclick="OnCreateFileAndFolders">Create file and folders</button>
<div>@_resultText2</div>
<div>File content:@_fileContent2</div>
